*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDE
.vscode/

# Kotlin
.kotlin/

# Local configuration files
secrets.properties
local.defaults.properties
